/* Main ------------------------------------------------------------------------------------------*/
    

.carga .seccionesProducto{
    display: flex;
    justify-content: space-between;
    
}
.carga .tituloProduc{
    background-color: #fff;
    width: 90%;
    height: 40px;
    margin-left: 70px;
    margin-top: 30px;
    font-size: 20px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
    
}
.carga .texto-tituloPro{
    background-color: white;
    outline: none;
    width: 100%;
    height: 38px;
    border: 1px none;
    font-size: 25px;
}
.carga .secciones-imagen-carga{
    display: flex;
    flex-direction: row;
}
.carga .carga-imagen{
    background-color: #fff;
    width: 416px;
    height: 416px;
    margin: 70px 10px 10px 70px;
    align-items:center;
    justify-content: center;
    display:flex;
    padding: 10px;
    border: 1px solid black;
    border-radius: 2px 2px 2px 2px;

}
.carga .secciones-imagen-carga-2{
    display: flex;
    justify-content: left;
    flex-direction: column;
}
.carga .carga-imagen2{
    background-color: #fff;
    width: 200px;
    height: 200px;
    margin: 70px 30px 5px 10px;
    align-items:center;
    justify-content: center;
    display:flex;
    padding: 80px;
    border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
}
.carga .carga-imagen3{
    background-color: #fff;
    width: 200px;
    height: 200px;
    margin: 10px 10px 5px 10px;
    align-items:center;
    justify-content: center;
    display:flex;
    padding: 80px;
    border: 1px solid black;
    border-radius: 2px 2px 2px 2px;

}
.carga .carga-imagen .fa-image{
    font-size: 15em;
    color: #9c9c9c;
}
.carga .carga-imagen2, .fa-image, .fa-plus-square{
    font-size: 2.5em;
    color: #9c9c9c; 
}
.carga .carga-imagen3, .fa-plus-square{
    font-size: 35px;
    color: #9c9c9c; 
}
.carga .secciones-formulario-carga {
    display:flex;
    justify-content: top;
    flex-direction: column;
  }

.carga .formulario-carga{
    background-color: #fff;
    width: 530px;
    height: 40px;
    margin-top: 70px;
    margin-right: 65px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 2px 2px 2px 2px;

}

.carga .formulario-carga2{
    background-color: #fff;
    width: 530px;
    height: 40px;
    margin-right: 10px;
    margin-top: 14px;
    align-items: center;
    display: flex;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
}
.texto-carga{
    background-color: white;
    outline: none;
    width: 100%;
    height: 30px;
    border: 1px none;
    font-size: 25px;

}
.carga .texto-carga-espe{
    background-color: white;
    outline: none;
    width: 95%;
    height: 30px;
    border: 1px none;
    font-size: 25px;
}

.carga .formulario-carga-espe{
    background-color: #fff;
    width: 530px;
    height: 147px;
    margin-right: 10px;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
}
.carga .secciones-descripcion-carga{
    display: flex;
    justify-content: left;
}

.carga .formulario-descripcion-carga{
    background-color: #fff;
    width: 90%;
    height: 200px;
    margin-left: 70px;
    margin-top: 30px;
    padding-top: 10px;
    display: flex;
    padding-left: 10px;
    border: 1px solid black;
    border-radius: 2px 2px 2px 2px;
}
.secciones-subir-cancelar{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.carga .subir-carga button a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    font-size: 1.1em;
    color: #fff;
}
.carga .subir-carga button a p{
    margin-left: 5px;
}

.carga .subir-carga button{
    background: linear-gradient(to bottom, #fff, #37b610 50%);
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 40px;
    width: 160px;
    border-radius: 5px 10px;
    font-size: 0.9em;
}
.carga .subir-carga button:hover{
    background: linear-gradient(to bottom, #fff, #65ce48 50%);
}

.carga .cancelar-carga button{
    background: linear-gradient(to bottom, #fff, #e41441 50%);
    border: none;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 40px;
    width: 160px;
    border-radius: 5px 10px;
}
.carga .cancelar-carga button:hover{
    background: linear-gradient(to bottom, #fff, #ff3f69 50%);
}
.carga .cancelar-carga button a{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-decoration: none;
    font-size: 1.3em;
    color: #fff;
}
.carga .cancelar-carga button a p{
    margin-left: 5px;
}



@media(max-width: 769px){
    /*Main----------------------------------------------------------------------------------------------------*/
    .carga .seccionesProducto{
        display: flex;
        justify-content: center;
    
        
    }
    .carga .tituloProduc{
        background-color: #fff;
        width: 90%;
        height: 40px;
        margin-left: 10px;
        margin-top: 30px;
        font-size: 20px;
        align-items: center;
        display: flex;
        padding-left: 10px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
        
    }
    .carga .texto-tituloPro{
        background-color: white;
        outline: none;
        width: 100%;
        height: 39px;
        border: 1px none;
        font-size: 25px;
    }
    .carga .secciones-imagen-carga{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .carga .carga-imagen{
        background-color: #fff;
        width: 452px;
        height: 452px;
        margin: 30px 10px 10px 10px;
        align-items:center;
        justify-content: center;
        flex-wrap: wrap;
        display:flex;
        padding: 10px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    
    }
    .carga .secciones-imagen-carga-2{
        display: flex;
        justify-content: left;
        flex-direction: column;
        flex-wrap: nowrap;
        
    }
    .carga .carga-imagen2{
        background-color: #fff;
        width: 50px;
        height: 50px;
        margin: 30px 0px 35px 10px;
        align-items:center;
        justify-content: center;
        display:flex;
        padding: 100px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    }
    .carga .carga-imagen3{
        background-color: #fff;
        width: 50px;
        height: 50px;
        margin: 10px 10px 13px 10px;
        align-items:center;
        justify-content: center;
        display:flex;
        padding: 100px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    
    }
    .carga .carga-imagen .fa-image{
        font-size: 15em;
        color: #9c9c9c;
    }
    .carga .carga-imagen2, .fa-image, .fa-plus-square{
        font-size: 2.5em;
        color: #9c9c9c; 
    }
    .carga .carga-imagen3, .fa-plus-square{
        font-size: 35px;
        color: #9c9c9c; 
    
    }
    
    
    .carga .secciones-formulario-carga {
        display:flex;
        flex-direction: center;
        flex-wrap: wrap;
      }
    
    .carga .formulario-carga{
        background-color: #fff;
        width: 682px;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        align-items: left;
        display: flex;
        padding-left: 10px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    
    }

    .carga .formulario-carga2{
        background-color: #fff;
        width: 682px;
        height: 40px;
        margin-left: 10px;
        margin-right: 0px;
        margin-top: 10px;
        align-items: center;
        display: flex;
        padding-left: 10px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    }
    .carga .texto-carga{
        background-color: white;
        outline: none;
        width: 100%;
        height: 30px;
        border: 1px none;
        font-size: 25px;
    
    }
    .carga .texto-carga-espe{
        background-color: white;
        outline: none;
        width: 95%;
        height: 30px;
        border: 1px none;
        font-size: 25px;
    }
    
    .carga .formulario-carga-espe{
        background-color: #fff;
        width: 682px;
        height: 147px;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        padding-top: 10px;
        display: flex;
        padding-left: 10px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    }
    .carga .secciones-descripcion-carga{
        display: flex;
        justify-content: left;
    }
    
    .carga .formulario-descripcion-carga{
        background-color: #fff;
         width: 682px;
        height: 200px;
        margin-left: 42px;
        margin-right: 10px;
        margin-top: 10px;
        display: flex;
        padding-left: 10px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    }
    .carga .final .seccion-datos{
        height: 100%;
    }

    .carga .final .seccion-datos p.title{
        margin: 10px;
    }
}
@media(max-width: 481px){
  /*Main------------------------------------------------------------------------------------------------------*/
    
    .carga .seccionesProducto{
        display: flex;
        justify-content: left;
        
    }
    .carga .tituloProduc{
        background-color: #fff;
        width: 90%;
        height: 40px;
        margin-left: 25px;
        margin-top: 30px;
        font-size: 20px;
        align-items: center;
        display: flex;
        padding-left: 10px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
        
    }
    .carga .texto-tituloPro{
        background-color: white;
        outline: none;
        width: 100%;
        height: 38px;
        border: 1px none;
        font-size: 25px;
    }
    .carga .secciones-imagen-carga{
        display: flex;
        flex-direction: column;
        
    }
    .carga .carga-imagen{
        background-color: #fff;
        width: 90%;
        height: 100%;
        margin: 30px 10px 10px 25px;
        align-items:center;
        justify-content: center;
        flex-wrap: wrap;
        display:flex;
        padding: 10px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    
    }
    .carga .secciones-imagen-carga-2{
        display: flex;
        justify-content:left;
        flex-direction: row;
        width: 55%;
    }
    .carga .carga-imagen2{
        background-color: #fff;
        width: 50px;
        height: 50px;
        margin: 10px 10px 13px 28px;
        align-items:center;
        justify-content: center;
        display:flex;
        padding: 100px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    }
    .carga .carga-imagen3{
        background-color: #fff;
        width: 50px;
        height: 50px;
        margin: 10px 10px 13px 10px;
        align-items:center;
        justify-content: center;
        display:flex;
        padding: 100px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    
    }
    .carga .carga-imagen .fa-image{
        font-size: 15em;
        color: #9c9c9c;
        padding-left: 0%;
    }
    .carga .carga-imagen2, .fa-image, .fa-plus-square{
        font-size: 2.5em;
        color: #9c9c9c; 
        padding-left: 25%;
    }
    .carga .carga-imagen3, .fa-plus-square{
        
        color: #9c9c9c; 
        padding-left: 25%;
    
    }
    
    
    .carga .secciones-formulario-carga {
        display:flex;
        flex-direction: center;
        flex-wrap: wrap;
        width: 100%;
      }
    
    .carga .formulario-carga{
        background-color: #fff;
        width: 90%;
        height: 100%;
        margin-left: 25px;
        margin-right: 70px;
        margin-top: 50px;
        align-items: left;
        display: flex;
        padding-left: 10px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    
    }
    
    .carga .formulario-carga2{
        background-color: #fff;
        width: 90%;
        height: 100%;
        margin-left: 25px;
        margin-right: 10px;
        margin-top: 10px;
        align-items: center;
        display: flex;
        padding-left: 10px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    }
    .carga .texto-carga{
        background-color: white;
        outline: none;
        width: 100%;
        height: 30px;
        border: 1px none;
        font-size: 25px;
    
    }
    .carga .texto-carga-espe{
        background-color: white;
        outline: none;
        width: 99%;
        height: 30px;
        border: 1px none;
        font-size: 25px;
    }
    
    .carga .formulario-carga-espe{
        background-color: #fff;
        width: 90%;
        height: 100%;
        margin-left: 25px;
        margin-right: 10px;
        margin-top: 10px;
        padding-top: 10px;
        display: flex;
        padding-left: 10px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    }
    .carga .secciones-descripcion-carga{
        display: flex;
        justify-content: left;
    }
    
    .carga .formulario-descripcion-carga{
        background-color: #fff;
        width: 90%;
        
        margin-left: 25px;
        margin-top: 30px;
        padding-top: 10px;
        display: flex;
        padding-left: 10px;
        border: 1px solid black;
        border-radius: 2px 2px 2px 2px;
    }
    .carga.final .buscar-email{
        width: 300px;
    }

    .carga.final .seccion-datos{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .carga.carga .buscar-email{
        width: 300px;
    }

    .carga.carga .seccion-datos{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}