/* main */

.btn-primary{
    color: #000;
    background: linear-gradient(to bottom, white, var(--color-naranja));
    border-color: #ffb080;
}

.btn-primary:hover{
    color: #fff;
    border-color: var(--color-naranja);
}

.codlogin- .card-body a{
    color: var(--color-naranja);
}

.btn-redes{
    display: flex;
    flex-direction: column;
    color: gray;
}

.btn-redes button{
    margin: 5px 0;
}

.btn-redes .fa-google, .fa-apple{
    color: gray;
    font-size: 18px;
}

.btn-redes .fa-facebook-f{
    color: gray;
    font-size: 18px;
    background: none;
    height: auto;
    width: auto;
    border-radius: 0;
    text-align: center;
    padding-top: 0;
}

.registro{
    text-align: center;
    margin-top: 30px;
}