/* main */

.cuerpo{
    background-image: url('/img/Atardecer-ciudad.png');
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    background-size: 70%;
    padding: 0;
}

.ofertas{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.beneficios{
    display: flex;
    justify-content: space-evenly;
}

.beneficios div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50px 50px 50px 50px;
    width: 300px;
    height: 60px;
    padding: 15px;
    margin-bottom: 50px;
}

.beneficios div p{
    margin-left: 15px;
}

.recomendaciones{
    padding: 3em 0;
}

.row-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 3em;
}

.list-art{
    display: flex;
    justify-content: space-between;
    width: 60vw;
}

.card{
    width: 12rem;
    background-color: rgba(255, 255, 255, 0.9);
}