<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <title>Carrito de Compras</title>
</head>
<body class="carrito">
    <header>
        <a href="/"><img src="/img/electodo log.png" alt="" width="90" height="80"> </a>
        <div class="buscador">
          <form action="">
              <input class="barra-busqueda" type="text" placeholder="¿Qué producto estás buscando?"><button><i class="fas fa-search"></i></button>
            </form>  
        </div>
        <ul class="tablet">
            <i class="fas fa-bell"></i>
            <i class="fas fa-user-circle"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
        </ul>
        <ul>
        <i class="fas fa-search"></i>
        <i class="fas fa-user-circle"></i>
        <i class="fas fa-shopping-cart"></i>    
        </ul>

    </header>
    <main>
        <ul class="barra">
            <i class="fas fa-bars"></i> 
            <i class="fas fa-bell"></i>
            <i class="fas fa-heart"></i>
         </ul>
         <ul class="barra2">
             <div class="dktp">
            <i class="fas fa-laptop"></i>
             </div>
             <i>Laptops</i>

            <div class="dktp">
            <i class="fas fa-desktop"></i>
            </div>
            <i>PC</i>

            <div class="dktp">
            <i class="fas fa-mouse"></i>
            </div>
             <i>Mouse</i>

             <div class="dktp">
            <i class="fas fa-keyboard"></i>
             </div>
             <i>Teclados</i>
             <div class="dktp">
                <i class="fas fa-headphones"></i>
             </div>
             <i>Auriculares</i>
             
             <div class="dktp">
            <i class="fas fa-volume-up"></i>
             </div>
             <i>Audio</i>
             <div class="dktp">
            <i class="fas fa-mobile-alt"></i>
             </div>
             <i>Celulares</i>
             <div class="dktp">
                <i class="fas fa-gamepad"></i>
                <i>Gaming</i>
             </div>
             <div class="dktp">
                <i class="fab fa-xbox"></i>
                <i>Consolas</i>
             </div>
             <div class="dktp">
                <i class="fas fa-print"></i>
                 <i>Impresoras</i>
             </div>
         </ul>
         
     <nav>
         <div class="aqui">
        <i class="fas fa-truck"></i>
         <p>Carrito / Punto de entrega</p> 
         </div>
         <div class="navegacion">
          <i class="fas fa-money-bill-alt"></i>
         <p>Método de pago</p>
         </div>
         <div class="navegacion2">
            <i class="far fa-check-circle"></i>
            <p>Confirmación de la compra</p> 
         </div>
     </nav>
     <section>
         <article>
             <i class="fas fa-trash-alt"></i>
             <img src="/img/notebook.webp" alt="" width="230" height="150">
             <p class="descripcion">Notebook Celeron 14'' Memoria 4gb Almacenaje 128gb - Tedge</p>
             <div>
              <p>Precio</p>
                 <p>$47.499</p>   
             </div>
                 <div>
                   <p>Cantidad</p>
                   <form action=""><button class="menos" >-</button><input class="cantidad" type="text" placeholder="1"><button class="mas">+</button></form>
                 <h6>922 disponibles</h6>
                 </div>
                <div>
                 <p >Subtotal</p>
                 <p class="subtotal">$47.499</p>    
                </div>
         </article>
         <article>
             <i class="fas fa-trash-alt"></i>
             <img src="/img/auriculares.webp" alt="" width="200" height="140">
             <p class="descripcion">Auriculares In-ear inalámbricos Xiaomi Redmi AirDots 2 negro</p>
             <div>
               <p>Precio</p>
                 <p>$2.251</p>  
             </div>
                 <div>
                 <p>Cantidad</p>    
                 <form action=""><button class="menos">-</button><input class="cantidad" type="text" placeholder="1"><button class="mas">+</button></form>
                 <h6>520 disponibles</h6>    
                 </div>
                 <div>
                 <p>Subtotal</p>
                 <p class="subtotal">$2.251</p>    
                 </div>
         </article>
         <article>
             <i class="fas fa-trash-alt"></i>
             <img src="/img/celular.webp" alt="" width="100" height="200">
             <p class="descripcion"> Samsung Galaxy A32 128 GB awesome black 4 GB RAM</p>
             <div>
               <p>Precio</p>
                 <p>$35.999</p>  
             </div>
                 <div>
                 <p>Cantidad</p>
                 <form action=""><button class="menos">-</button><input class="cantidad" type="text" placeholder="1"><button class="mas">+</button></form>
                 <h6>125 disponibles</h6>    
                 </div>
                 <div>
                 <p>Subtotal</p>
                 <p class="subtotal">$35.999</p>    
                 </div>
         </article>
     </section>
     <section class="cupon-envio">

        <section class="cupon">
         <p>Si tenés un cupón de descuento y querés asignarlo a esta compra, completá el siguiente campo con el código del cupón.
         </p>
         <form action=""><input class="cod-cupon" type="text" placeholder="Código cupón" name="cupón"><button>Aplicar</button></form>
     </section>
     <section class="envio">
         <div class="caja-envio">
            <p class="dire">Envío a <input class="cod-cupon" type="text" placeholder="Dirección" name="Dirección"></p>
            <p class="p-e">$204.99</p>
         </div>
         <div class="caja-total">
         <p class="total">Total</p>
         <p class="n-total">$85.749</p>
         </div>

     </section>

     </section>
     
     <section class="t-y-c">
         
        <p><button><input type="checkbox" value="Acepto los términos y condiciones" name="términos y condiciones"></button>Aceptar los <a href="">términos y condiciones</a></p>
     </section>
     
     <div class="continuar">
         <button href="/">Comprar más productos</a></button>
         <button><a href="/MetodoDePago">Continuar compra</a></button>
     </div>
    </main>

    <footer>
        <section class="newsletter">
          <h4>NEWSLETTER</h4>
        <h4>Suscribite para recibir nuestras ofertas y novedades</h4>  
        <form action="">
            <input class="put-email" type="text" placeholder="email" name="email"><button class="next-email"><i class="fas fa-arrow-right"></i></button>
        </form>
        </section>
        <section>
            <div class="f-desk">
<div class="f-tablet">
                <div>
                <h4>Más buscados</h4>
                <p>Promociones</p>
                <p>Envíos gratis</p>
            </div>
            <div>
                <h4>Contáctanos</h4>
                <p><i class="fas fa-phone-alt"></i> 11 2345-3212</p>
                <p><i class="far fa-envelope"></i> xxxx@xxxx.com</p>
                <p><i class="fas fa-map-marker-alt"></i> Dirección</p>
                </div>
            </div>
            <div class="f-tablet">
                <div>
                <h4>Ayuda</h4>
                <p>Preguntas frecuentes</p>
                <p>Métodos de pago</p>
                <p>Métodos de envío</p>
                <p>Costos de envío</p>
                <p>Términos y condiciones</p>
            </div>
            <div class="redes">
                <h4>Sigamos conectados</h4>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
            </div>
            </div>
             <div class="copyright">
                Copyright © 2021 - ElecTodo
            </div>
        </section>
    </footer>
</body>
</html>