<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <title>Confirmación de la compra</title>
</head>
<body class="carrito">
    <header>
        <a href="/"><img src="/img/electodo log.png" alt="" width="90" height="80"> </a> 
        <div class="buscador">
          <form action="" class="form">
              <input class="barra-busqueda" type="text" placeholder="¿Qué producto estás buscando?"><button><i class="fas fa-search"></i></button>
        </form>  
        </div>
        <ul class="tablet">
            <i class="fas fa-bell"></i>
            <i class="fas fa-user-circle"></i>
            <i class="fas fa-heart"></i>
            <i class="fas fa-shopping-cart"></i>
        </ul>
        <ul>
        <i class="fas fa-search"></i>
        <i class="fas fa-user-circle"></i>
        <i class="fas fa-shopping-cart"></i>    
        </ul>

    </header>
    <main>
        <ul class="barra">
            <i class="fas fa-bars"></i> 
            <i class="fas fa-bell"></i>
            <i class="fas fa-heart"></i>
         </ul>
         <ul class="barra2">
             <div class="dktp">
            <i class="fas fa-laptop"></i>
             </div>
             <i>Laptops</i>

            <div class="dktp">
            <i class="fas fa-desktop"></i>
            </div>
            <i>PC</i>

            <div class="dktp">
            <i class="fas fa-mouse"></i>
            </div>
             <i>Mouse</i>

             <div class="dktp">
            <i class="fas fa-keyboard"></i>
             </div>
             <i>Teclados</i>
             <div class="dktp">
                <i class="fas fa-headphones"></i>
             </div>
             <i>Auriculares</i>
             
             <div class="dktp">
            <i class="fas fa-volume-up"></i>
             </div>
             <i>Audio</i>
             <div class="dktp">
            <i class="fas fa-mobile-alt"></i>
             </div>
             <i>Celulares</i>
             <div class="dktp">
                <i class="fas fa-gamepad"></i>
                <i>Gaming</i>
             </div>
             <div class="dktp">
                <i class="fab fa-xbox"></i>
                <i>Consolas</i>
             </div>
             <div class="dktp">
                <i class="fas fa-print"></i>
                 <i>Impresoras</i>
             </div>
         </ul>
         
     <nav>
         <div class="navegacion">
        <i class="fas fa-truck"></i>
         <p>Carrito / Punto de entrega</p> 
         </div>
         <div class="navegacion2">
          <i class="fas fa-money-bill-alt"></i>
         <p>Método de pago</p>
           </div>
         <div class="aqui">
           <i class="far fa-check-circle"></i>   
          <p>Confirmación de la compra</p>   
         </div>
     </nav>
     <section class="cuerpo2">
        <div class="total-dos">
            <h3>Total</h3>
            <h3>$85.749</h3>
        </div>
        <section class="datos">
                <p>Datos personales:</p>
            <div class="dato">
                <form action="">
                    <label for="email">E-mail</label>
                    <input class="caja-dato" type="email" name="email" id="email">
                </form>
            </div>
            <div class="dato">
                <form action="">
                    <label for="nombre">Nombres/s</label>
                    <input class="caja-dato" type="text" name="nombre" id="nombre"></form>
            </div>
            <div class="dato">
                <form action="">
                    <label for="apellido">Apellido/s</label>
                    <input class="caja-dato" type="text" name="apellido" id="apellido"></form>
            </div>
            <div class="dato">
                <form action="">
                    <label for="dni">DNI</label>
                    <input class="caja-dato" type="text" name="dni" id="dni"></form>
            </div>
            <div class="dato">
                <form action="">
                    <label for="contacto">Número de contacto</label>
                    <input class="caja-dato" type="tel" name="contacto" id="contacto"></form>
            </div>
            <div class="dato">
                <form action="">
                    <label for="comentario">Comentario</label>
                    <textarea class="caja-dato" name="comentario" id="comentario" cols="30" rows="10"></textarea>
                   </form>
            </div>
        </section>   
     </section>
        <div class="continuar-dos">
            <button type="submit">Confirmar</button>
        </div>
    </main>
    <footer>
        <section class="newsletter">
          <h4>NEWSLETTER</h4>
        <h4>Suscribite para recibir nuestras ofertas y novedades</h4>  
        <form action="">
            <input class="put-email" type="text" placeholder="email" name="email"><button class="next-email"><i class="fas fa-arrow-right"></i></button>
        </form>
        </section>
        <section>
            <div class="f-desk">
<div class="f-tablet">
                <div>
                <h4>Más buscados</h4>
                <p>Promociones</p>
                <p>Envíos gratis</p>
            </div>
            <div>
                <h4>Contáctanos</h4>
                <p><i class="fas fa-phone-alt"></i> 11 2345-3212</p>
                <p><i class="far fa-envelope"></i> xxxx@xxxx.com</p>
                <p><i class="fas fa-map-marker-alt"></i> Dirección</p>
                </div>
            </div>
            <div class="f-tablet">
                <div>
                <h4>Ayuda</h4>
                <p>Preguntas frecuentes</p>
                <p>Métodos de pago</p>
                <p>Métodos de envío</p>
                <p>Costos de envío</p>
                <p>Términos y condiciones</p>
            </div>
            <div class="redes">
                <h4>Sigamos conectados</h4>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-whatsapp"></i>
            </div>
            </div>
            </div>
             <div class="copyright">
                Copyright © 2021 - ElecTodo
            </div>
        </section>
    </footer>
</body>
</html>