<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electodo - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
</head>
<body>
    <header>
        <div class="cabeza">
            <div class="logo">
                <a href="/"><img src="/img/electodo log.png" alt="electodo"></a>
            </div>
            <div class="buscador">
                    <input class="buscar-texto" type="text" placeholder="¿Qué producto estás buscando?">
                <button class="boton">
                    <i class="fas fa-search"></i>
                </button>
            </div>
            <nav class="nav-header-menu">
                <ul>
                    <li><a href=""><i class="fas fa-bell"></i></a></li>
                    <li><a href="/login"><i class="fas fa-user-circle"></i></a></li>
                    <li><a href=""><i class="fas fa-heart"></i></a></li>
                    <li><a href="/CarritoDeCompras"><i class="fas fa-shopping-cart"></i></a></li>
                </ul>
            </nav>
            <nav class="nav-header-menu2">
                <div class="buscador2">
                    <input type="text" class="buscar-texto2">
                    <a href="" class="boton-busc">
                        <i class="fas fa-search"></i>
                    </a>
                </div>
                <ul>
                    <li>
                        <a href="/login">
                            <i class="fas fa-user-circle"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/CarritoDeCompras">
                            <i class="fas fa-shopping-cart"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <nav class="nav-header-items">
            <ul>
                <li><a href=""><i class="fas fa-laptop"></i> Laptops</a></li>
                <li><a href=""><i class="fas fa-desktop"></i> PC</a></li>
                <li><a href=""><i class="fas fa-mouse"></i> Mouse</a></li>
                <li><a href=""><i class="fas fa-keyboard"></i> Teclados</a></li>
                <li><a href=""><i class="fas fa-headphones-alt"></i> Auriculares</a></li>
                <li><a href=""><i class="fas fa-volume-up"></i> Audio</a></li>
                <li><a href=""><i class="fas fa-mobile-alt"></i> Celulares</a></li>
                <li><a href=""><i class="fas fa-gamepad"></i> Gaming</a></li>
                <li><a href=""><i class="fab fa-xbox"></i> Consolas</a></li>
                <li><a href=""><i class="fas fa-print"></i> Impresoras</a></li>
            </ul>
        </nav>
        <nav class="nav-header-items2">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle bg-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fas fa-bars"></i>
                </button>
                <ul class="dropdown-menu dropdown p-2 mb-2 bg-primary" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#"><i class="fas fa-laptop"></i></a></li>
                  <li><a class="dropdown-item" href="#"><i class="fas fa-desktop"></i></a></li>
                  <li><a class="dropdown-item" href="#"><i class="fas fa-mouse"></i></a></li>
                  <li><a class="dropdown-item" href="#"><i class="fas fa-keyboard"></i></a></li>
                  <li><a class="dropdown-item" href="#"><i class="fas fa-headphones-alt"></i></a></li>
                  <li><a class="dropdown-item" href="#"><i class="fas fa-volume-up"></i></a></li>
                  <li><a class="dropdown-item" href="#"><i class="fas fa-mobile-alt"></i></a></li>
                  <li><a class="dropdown-item" href="#"><i class="fas fa-gamepad"></i></a></li>
                  <li><a class="dropdown-item" href="#"><i class="fab fa-xbox"></i></a></li>
                  <li><a class="dropdown-item" href="#"><i class="fas fa-print"></i></a></li>
                </ul>
              </div>
            <ul>
                <li><a href=""><i class="fas fa-bell"></i></a></li>
                <li><a href=""><i class="fas fa-heart"></i></a></li>
            </ul>
        </nav>
    </header>
    <main class="home">
        <div class="cuerpo">
            <section class="banner">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="/img/img-banner.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/img/img-banner2.jpg" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="/img/img-banner3.jpg" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </section>
            <section class="ofertas">
                <a href="">
                    <div class="impreYCartDesc">
                        <img src="/img/impresorasYcartuchosDesct.png" alt="">
                        <h3>Impresoras y Cartuchos</h3>
                        <span>20% OFF</span>
                    </div>
                </a>
                <a href="">
                    <div class="impreYCartDesc">
                        <img src="/img/auricularesDesc.png" alt="">
                        <h3>Auriculares</h3>
                        <span>15% OFF</span>
                    </div>
                </a>
                <a href="">
                    <div class="impreYCartDesc">
                        <img src="/img/audioDesct.png" alt="">
                        <h3>Audio</h3>
                        <span>15% OFF</span>
                    </div>
                </a>
            </section>
            <section class="recomendaciones2">
                <div class="gaming-sect">
                    <a href="">
                        <img src="/img/gaming-sect.jpg" alt="">
                    </a>
                </div>
                <div class="cellphones-sect">
                    <a href=""><img src="/img/cellphones-sect.jpg" alt=""></a>
                </div>
                <div class="netbooks-sect">
                    <a href=""><img src="/img/netbooks-sect.jpg" alt=""></a>
                </div>
            </section>
            <section class="beneficios">
                <div>
                    <i class="fas fa-credit-card"></i><p>Todos los medios de pago</p>
                </div>
                <div>
                    <i class="fas fa-store-alt"></i><p>Retirá gratis en nuestras sucursales</p>
                </div>
                <div>
                    <i class="fas fa-truck"></i><p>Envíos a todo el país</p>
                </div>
            </section>
            <div class="carrousel-ind">
                <article>
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                              <div class="item-carrousel">
                                <div class="card">
                                    <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-precio">$5.000</h5>
                                      <p class="card-descuento">40% OFF</p>
                                      <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                            <div class="item-carrousel">
                                <div class="card">
                                    <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-precio">$5.000</h5>
                                      <p class="card-descuento">40% OFF</p>
                                      <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="carousel-item">
                            <div class="item-carrousel">
                                <div class="card">
                                    <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-precio">$5.000</h5>
                                      <p class="card-descuento">40% OFF</p>
                                      <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                                    </div>
                                  </div>
                              </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                          <span class="visually"><i class="fas fa-arrow-left"></i></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                          <span class="visually"><i class="fas fa-arrow-right"></i></span>
                        </button>
                      </div>
                </article>
            </div>
            <section class="recomendaciones">
                <div class="seccion-gaming">
                    <div class="cuadro-gaming">
                        <a href="">
                            <img src="/img/gamingTeclado.png" alt="">
                            <h3>Gaming</h3>
                        </a>
                    </div>
                    <article>
                        <div class="card">
                            <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-precio">$5.000</h5>
                              <p class="card-descuento">40% OFF</p>
                              <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                    </article>
                    <article>
                        <div class="card">
                            <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-precio">$5.000</h5>
                              <p class="card-descuento">40% OFF</p>
                              <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                    </article>
                    <article>
                        <div class="card">
                            <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-precio">$5.000</h5>
                              <p class="card-descuento">40% OFF</p>
                              <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                    </article>
                    <article>
                        <div class="card">
                            <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-precio">$5.000</h5>
                              <p class="card-descuento">40% OFF</p>
                              <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                    </article>
                </div>
                <div class="seccion-celulares">
                    <article>
                        <div class="card">
                            <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-precio">$5.000</h5>
                              <p class="card-descuento">40% OFF</p>
                              <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                    </article>
                    <article>
                        <div class="card">
                            <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-precio">$5.000</h5>
                              <p class="card-descuento">40% OFF</p>
                              <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                    </article>
                    <article>
                        <div class="card">
                            <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-precio">$5.000</h5>
                              <p class="card-descuento">40% OFF</p>
                              <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                    </article>
                    <article>
                        <div class="card">
                            <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-precio">$5.000</h5>
                              <p class="card-descuento">40% OFF</p>
                              <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                    </article>
                    <div class="cuadro-celulares">
                        <a href="">
                            <img src="/img/celular-sect.png" alt="">
                            <h3>Celulares</h3>
                        </a>
                    </div>
                </div>
                <div class="seccion-notebooks">
                    <div class="cuadro-notebooks">
                        <img src="/img/notebooksDesc.png" alt="">
                        <h3>Gaming</h3>
                    </div>
                    <article>
                        <div class="card">
                            <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-precio">$5.000</h5>
                              <p class="card-descuento">40% OFF</p>
                              <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                    </article>
                    <article>
                        <div class="card">
                            <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-precio">$5.000</h5>
                              <p class="card-descuento">40% OFF</p>
                              <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                    </article>
                    <article>
                        <div class="card">
                            <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-precio">$5.000</h5>
                              <p class="card-descuento">40% OFF</p>
                              <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                    </article>
                    <article>
                        <div class="card">
                            <img src="/img/product-image-comodin.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-precio">$5.000</h5>
                              <p class="card-descuento">40% OFF</p>
                              <a href="/detalle-producto" class="btn btn-primary">Comprar</a>
                            </div>
                          </div>
                    </article>
                </div>
            </section>
            <section class="ofertas2">
                <a href=""><img src="/img/impr-cart-cell-witdth.jpg" alt=""></a>
                <a href=""><img src="/img/audio-cell-width.jpg" alt=""></a>
                <a href=""><img src="/img/auriculares-cell-width.jpg" alt=""></a>
            </section>
    </main>
    <footer class="final">
        <div class="secciones-footer">
            <section class="seccion-newsletter">
                <div>
                    <p>Newsletter</p>
                    <span>Suscribite para recibir nuestras ofertas y novedades</span>
                </div>
                <div class="email-buscador">
                    <form action="">
                        <input class="buscar-email" type="text" placeholder="email">
                            <button class="boton2">
                                <i class="fas fa-arrow-right"></i></i>
                            </button>
                    </form>
                </div>
            </section>
            <section class="seccion-datos">
                <div class="mas-buscados">
                    <p class="title">Más buscados</p>
                    <p>Promociones</p>
                    <p>Envíos gratis</p>
                </div>
                <div class="ayuda">
                    <p class="title">Ayuda</p>
                    <p>Preguntas frecuentes</p>
                    <p>Métodos de pago</p>
                    <p>Métodos de envío</p>
                    <p>Costos de envío</p>
                    <p>Términos y condiciones</p>
                </div>
                <div class="contactanos">
                    <p class="title">Contáctanos</p>
                    <p><i class="fas fa-phone-alt"></i> 11 2345-3212</p>
                    <p><i class="far fa-envelope"></i> xxxx@xxxx.com</p>
                    <p><i class="fas fa-map-marker-alt"></i> Dirección</p>
                </div>
                <div class="sigamos-conectados">
                    <p class="title">Sigamos conectados</p>
                    <div>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-whatsapp"></i>
                    </div>
                </div>
            </section>
            <section class="copyr">
                <p>Copyright © 2021 - ElecTodo</p>
            </section>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>