/* footer */

.seccion-newsletter{
    /* background: linear-gradient(120deg, rgb(26, 26, 26),rgb(255, 36, 36),rgb(26, 26, 26)); */
    background-image: url('/img/bk/rojo_negro.jpg');
    width: 100%;
    height: 200px;
    text-align: center;
    /* background-size: 200%; */
    animation: bg-animation 20s infinite alternate;
}


.seccion-newsletter div p{
    color: white;
    font-size: 32px;
    font-family: 'Play';
    padding: 10px 0;
}

.seccion-newsletter div span{
    color: white;
    font-size: 25px;
    font-family: Play;
}

.email-buscador{
    margin-top: 20px;
    position: relative;
}

.buscar-email:focus{
    outline: none;
}

.buscar-email{
    border: none;
    background: white;
    border-radius: 5px 5px 5px 5px;
    font-size: 1.3em;
    width: 60vw;
    height: 45px;
    padding-left: 20px;
    font-family: Play;
}

.boton2{
    position: relative;
    background: none;
    border: none;
    height: 45px;
    right: 40px;
}

.seccion-datos{
    color: white;
    display: flex;
    justify-content: space-around;
    background-image: url('/img/bk/giphy_4.gif');
    width: 100%;
    height: 100%;
    padding: 50px 35px;
}

.seccion-datos p.title{
    color: white;
    margin: 10px 0;
    font-size: 25px;
    border-bottom: 1px solid #fff;
    font-family: Play;
}

.mas-buscados p,
.ayuda p,
.contactanos p{
    font-family: Play;
    color: #fff;
}
.contactanos a, 
.sigamos-conectados a{
    text-decoration: none;
    color: #fff; 
}

.final .secciones-footer .sigamos-conectados div i{
    margin-bottom: 15px;
    margin-left: 10px;
}

.copyr{
    color: white;
    background-image: url('/img/bk/rojo_negro.jpg');
    width: 100%;
    height: 30px;
    padding: 5px;
    animation: bg-animation 20s infinite alternate;
}

.copyr p{
    font-family: Play;
}

@media (max-width: 769px) {
    /* footer */

    .seccion-datos{
        height: 100%;
    }

    .seccion-datos p.title{
        margin: 10px;
    }
}

@media (max-width: 481px) {
    /* footer */

    .seccion-datos{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}