@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allison&family=Bebas+Neue&family=Dancing+Script:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Serif+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Play&family=Source+Serif+Pro:wght@600&display=swap');

:root{
    --color-azulOscuro: #101B37;
    --color-rosaFluor: #E41476;
    --color-celesteClaro: #02C8ED;
    --color-fondo: #0A112B;

    --color-negro4: #241D17;

    --color-negro3: #202020;

    --color-negro2: #0B0E07;

    --color-negro1: #000000;
}

/* ---------------------scrollbar------------------------- */

::-webkit-scrollbar{
    width: 8px;
}

::-webkit-scrollbar-track{
    background-image: url('/img/bk/giphy_4.gif');
}

::-webkit-scrollbar-thumb{
    /* background: linear-gradient(to bottom, var(--color-rosaFluor) 10%, var(--color-celesteClaro) 65%); */
    background-color: rgb(228, 28, 28);
    border-radius: 50px;
}

::-webkit-scrollbar-corner{
    border-radius: 50px;
    background: none;
}


/* ------------------------------------------------------- */

/* body{
    background-color:var(--color-fondo);
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
} */

body{
    background-image: url('/img/bk/giphy_4.gif');
}

/* main{
    background-image: url('/img/circulo-fondo.png');
    background-position: center 90%;
    background-repeat: no-repeat;
    background-size: 80%;
} */


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
    
    
}

main{
    padding-top: 110px;
}

ul, ol{
    list-style: none;
}

.fa-bell, 
.fa-user-circle, 
.fa-heart, 
.fa-shopping-cart, 
.fa-laptop, 
.fa-desktop, 
.fa-mouse, 
.fa-keyboard, 
.fa-volume-up, 
.fa-mobile-alt, 
.fa-gamepad, 
.fa-xbox, 
.fa-print, 
.fa-headphones-alt,
.fa-bars,
.fa-search,
.fa-upload,
.fa-times{
    color: #fff;
    font-size: 1.5em;
}

.fa-arrow-right{
    color:rgb(17, 17, 17);
    font-size: 1.5em;
    padding-right: 10px;
}

.fa-instagram,
.fa-facebook-f,
.fa-whatsapp{
    color: var(--color-naranja);
    font-size: 1.5em;
    background: rgb(228, 28, 28);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
}

.fa-credit-card,
.fa-store-alt,
.fa-truck{
    font-size: 2em;
}

/* .fa-arrow-left:hover,
.fa-shopping-cart:hover, 
.fa-laptop:hover, 
.fa-desktop:hover, 
.fa-mouse:hover, 
.fa-keyboard:hover, 
.fa-volume-up:hover, 
.fa-mobile-alt:hover, 
.fa-gamepad:hover, 
.fa-xbox:hover, 
.fa-print:hover, 
.fa-headphones-alt:hover,
.fa-bars:hover,
.fa-search:hover,
.fa-upload:hover,
.fa-times:hover,
.fa-shopping-cart:hover,
.fa-heart:hover,
.fa-user-circle:hover,
.fa-bell:hover{
    color: rgb(228, 28, 28);
    transition: 0.3s;
} */