/* main */
a {
    text-decoration: none;
}
/* -----OFERTAS----- */
.cuerpo{
    width: 90%;
    margin: auto;
    background: rgba(165, 165, 165, 0.05);
}


.home .ofertas{
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
    flex-wrap: wrap;
}

/* -----IMPRESORA DESCUENTO----- */

.home .ofertas .impreDesc{
    /* background: linear-gradient(120deg, var(--color-rosaFluor), var(--color-celesteClaro)); */
    background-image: url('/img/bk/giphy_5.gif');
    font-size: 16px;
    width: 300px;
    height: 200px;
    padding: 10px;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
    position: relative;
    /* background-size: 200%; */
    animation: bg-animation 50s infinite alternate;
}

.home .ofertas .impreDesc img{
    width: 150px;
    position: absolute;
    top: -10%;
    left: 0;
}

.home .ofertas .impreDesc h3{
    font-size: 30px;
    color: #fff;
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-family: Play;
}

.home .ofertas .impreDesc span{
    color: #fff;
    font-size: 35px;
    position: absolute;
    right: 0;
    top: 20%;
}

/* -----AURICULARES DESCUENTO----- */

.home .ofertas .auriDesc{
    /* background: linear-gradient(120deg, var(--color-rosaFluor), var(--color-celesteClaro)); */
    background-image: url('/img/bk/giphy_5.gif');
    font-size: 16px;
    width: 300px;
    height: 200px;
    padding: 10px;
    -moz-border-radius: 0 100% 0 0;
    -webkit-border-radius: 0 100% 0 0;
    border-radius: 0 100% 0 0;
    position: relative;
    /* background-size: 200%; */
    animation: bg-animation 50s infinite alternate;
}

.home .ofertas .auriDesc img{
    width: 120px;
    position: absolute;
    top: -10%;
    left: 5%;
}

.home .ofertas .auriDesc h3{
    font-size: 30px;
    color: #fff;
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-family: Play;
}

.home .ofertas .auriDesc span{
    color: #fff;
    font-size: 35px;
    position: absolute;
    right: 0;
    top: 20%;
}

.home .beneficios{
    display: flex;
    justify-content: space-evenly;
}
.home .product-name{
    font-size: 20px;
}
.home .precio-desc{
    text-decoration: line-through 2px solid;
}
.home .desc-font{
    color: var(--color-rosaFluor);
    font-size: 20px;
}


/* -----------------RECOMENDACIONES--------------- */

.home .recomendaciones{
    padding-bottom: 50px;
}

.home .recom-gamCelNote{
    width: 95%;
    margin: auto;
}

.home .seccion-gaming{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ----------------Seccion gaming-------------- */

.home .cont-cuadro-gamCelNote{
    margin-top: 120px;
    margin-bottom: 30px;
}


.home .cuadro-gamCelNote{
    width: 280px;
    height: 50px;
    /* background: linear-gradient(45deg, var(--color-rosaFluor), var(--color-celesteClaro)); */
    background-image: url('/img/bk/giphy_5.gif');
    position: relative;
    -moz-border-radius: 50% 0 / 100% 0;
    -webkit-border-radius: 50% 0 / 100% 0;
    border-radius: 0 35% / 0 100%;
    /* background-size: 200%; */
    animation: bg-animation 20s infinite alternate;
}

.home  .cuadro-gamCelNote img{
    width: 170px;
    height: auto;
    position: absolute;
    top: -122%;
    left: 0%;
}


/* -------------------Animacion----------------- */
.home .cuadro-Note img,
.home .cuadro-Cel img,
.home  .cuadro-gamCelNote img{
    transition: 0.3ms;
    animation: sizeChange;
    animation-duration: 120s;
    animation-delay: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes sizeChange {
    0% {transform: scale(1);
    }
    5% {transform: scale(1.1);}
    10% {transform: scale(1.05);
    }
    15% {transform: scale(1.1);}
    85% {transform: scale(1.1);}
    90% {transform: scale(1.05);
    }
    95% {transform: scale(1.1);}
    100% {transform: scale(1);}
}


.home .tit-secc label{
    position: absolute;
    bottom: 2%;
    right: 9%;
    margin: 0;
    color: white;
    font-family: Play;
    font-size: 30px;
    margin: 0;
}


/* ------------------CAROUSEL---------------------- */

.home .carousel__contenedorNot,
.home .carousel__contenedorCel,
.home .carousel__contenedor{
    position: relative;
}


.home .carousel__anteriorNot,
.home .carousel__siguienteNot,
.home .carousel__anteriorCel,
.home .carousel__siguienteCel,
.home .carousel__anterior,
.home .carousel__siguiente {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 20px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: #fff;
    opacity: 20%;
}

.home .carousel__anteriorNot:hover,
.home .carousel__siguienteNot:hover,
.home .carousel__anteriorCel:hover,
.home .carousel__siguienteCel:hover,
.home .carousel__anterior:hover,
.home .carousel__siguiente:hover {
    opacity: 100%;
}

.home .carousel__anteriorNot,
.home .carousel__anteriorCel,
.home .carousel__anterior {
    left: -25px;
}

.home .carousel__siguienteNot,
.home .carousel__siguienteCel,
.home .carousel__siguiente {
    right: -25px;
}

.home .carousel__listaGam,
.home .carousel__listaCel,
.home .carousel__listaNot {
    overflow: hidden;
}

.home .carousel__indicadoresNot .glider-dot,
.home .carousel__indicadoresCel .glider-dot,
.home .carousel__indicadores .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    opacity: .2;
}

.home .carousel__indicadoresNot .glider-dot:hover,
.home .carousel__indicadoresCel .glider-dot:hover,
.home .carousel__indicadores .glider-dot:hover {
    opacity: .5;
}

.home .carousel__indicadoresNot .glider-dot.active,
.home .carousel__indicadoresCel .glider-dot.active,
.home .carousel__indicadores .glider-dot.active {
    opacity: 1;
}

/* ------------------TARJETAS DE PRODUCTOS-------------------*/


.home .tarj-prod{
    width: 200px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    margin: 15px;
}

.home .tarj-prod:hover{
    transform: scale(1.05);
    transition: 0.3s;
}

.home .tarj-prod .img-prod img{
    width: 100%;
    height: 150px;
    object-fit: contain;
    position: absolute;
    top: 0;
    -webkit-box-reflect: below -25px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(255, 255, 255, 0.5)));
}

.home .info-prod{
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
}

.home .info-prod h4{
    font-family: Play;
    color: rgb(27, 27, 27);
    /* background: linear-gradient(to bottom right, rgba(228, 20, 118, 0.5) 30%, rgba(2, 200, 237, 0.5) 70%); */
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 2px;
}

.home .info-prod p{
    display: -webkit-box;
    max-width: 190px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 5px;
}

.home .info-prod h3{
    /* width: 100%; */
    /* background: rgb(2, 237, 61); */
    background: linear-gradient(45deg, rgb(2, 237, 61), rgb(2, 128, 33));
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: -5%;
    bottom: 0;
    margin: 0;
    background-size: 200%;
    animation: bg-animation 20s infinite alternate;
}

.home .info-prod span{
    width: 100px;
    background: rgb(237, 88, 2);
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    right: -5%;
    bottom: 30%;
    text-decoration: line-through;
}

.home .info-prod button{
    width: 85px;
    background: rgb(228, 28, 28);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    left: 2%;
    bottom: 10%;
    border: none;
}

/* ------------------SECCION CELULARES---------------- */


.home .cuadro-Cel{
    width: 280px;
    height: 50px;
    /* background: linear-gradient(45deg, var(--color-rosaFluor), var(--color-celesteClaro)); */
    background-image: url('/img/bk/giphy_5.gif');
    position: relative;
    -moz-border-radius: 50% 0 / 100% 0;
    -webkit-border-radius: 50% 0 / 100% 0;
    border-radius: 0 35% / 0 100%;
    /* background-size: 200%; */
    animation: bg-animation 20s infinite alternate;
}

.home  .cuadro-Cel img{
    width: 115px;
    height: auto;
    position: absolute;
    top: -160%;
    left: 7%;
}

/* --------------NOTEBOOKS-------------------- */

.home .cuadro-Note{
    width: 280px;
    height: 50px;
    /* background: linear-gradient(45deg, var(--color-rosaFluor), var(--color-celesteClaro)); */
    background-image: url('/img/bk/giphy_5.gif');
    position: relative;
    -moz-border-radius: 50% 0 / 100% 0;
    -webkit-border-radius: 50% 0 / 100% 0;
    border-radius: 0 35% / 0 100%;
    /* background-size: 200%; */
    animation: bg-animation 20s infinite alternate;
}

.home .cuadro-Note img{
    width: 120px;
    height: auto;
    position: absolute;
    top: -112%;
    left: 2%;
}

.home .beneficios div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50px 50px 50px 50px;
    width: 300px;
    height: 60px;
    padding: 15px;
    margin-bottom: 50px;
}

.home .beneficios div p{
    margin-left: 15px;
}



@media (max-width: 769px) {
        /* main */

        .home .ofertas{
            padding: 30px;
        }
    
        .home .ofertas a img{
            width: 200px;
        }

        .home .beneficios{
            padding: 0 20px;
        }

        .home .beneficios div{
            height: 90px;
            margin: 0 20px;
        }
}

@media (max-width: 320px) {

    .home {
        padding-top: 200px;
    }

    .home .beneficios{
        flex-direction: column;
        align-items: center;
    }

    .home .beneficios div{
        margin: 10px;
    }

    .home .banner{
        display: none;
    }

    .home .cuadro-Cel,
    .home .cuadro-gamCelNote,
    .home .cuadro-Note{
        width: 90%;
    }
}