.search .container {
    max-width: 1140px;
    margin: 0 auto;
}

.search .banner{
    display: none;
}

.search .banner .carousel-item{
    height: 40vh;
    width: 100%;
    background-size: 100%;
}

.search section.productos article{
    background-color: #ffff;
    box-shadow: 1px 0px 25px #f00909;
    border-radius: 40px 40px 127px;
    position: relative;
    height: 100%;
}
.search .cont-img{
    width: 200px;
    height: 200px;
}

.search section.productos article img{
    width: 100%;
    height: 100%;
    object-fit: contain;

}
a{
    text-decoration: none;
}

.search section.productos article .contenedor{
    background-color: blue;
}


.search section.productos article a{

    text-transform: uppercase;
  
}

.search section.productos h4{
    margin: 10px 0;
}


.search aside h3, .search section.productos h3{
    background-color: white;
    color: white;
    padding: 10px;
    animation: bg-animation 20s infinite alternate;
    background-image: url('/img/bk/rojo_negro.jpg');
    font-family: 'Play';
    margin-top: 30px;
    margin-bottom: 10px;
}

.search aside section.tutoriales article {
    background-color: white;
    padding: 10px;
    border: 1px solid #70a6bb;
    border-bottom: none;
}

.search aside section.tutoriales article:last-child {
    border-bottom: 1px solid #70a6bb;
}

.search aside section.tutoriales article p {
   margin-left: 10px;
}

.search aside section.publicidad article{
    background-color: white;
    width: 300px;
    height: 330px;
    background-image: url('/img/bk/giphy_5.gif');
    animation: bg-animation 50s infinite alternate;
   
}
.search aside section.publicidad article img{
    width: 100%;
    object-fit: cover;
    height: 100%;
}
.search .preciosearch{
    width: 87%;
    background: repeating-linear-gradient(144deg, black, #0000003d 80px);
    color: #fff;
    padding: 8px;
    border-radius: 7px 7px 29px;
    right: -5%;
    margin: 0px 0px 12px;
    background-size: 200%;
    animation: bg-animation 3s infinite alternate;
}
.search .preciodescuento{
    width: 100%;
    background: repeating-linear-gradient(144deg, black, #0000003d 80px);
    color: #fff;
    padding: 8px;
    border-radius: 7px 7px 29px;
    right: -5%;
    bottom: 0;
    margin: 0;
    background-size: 200%;
    animation: bg-animation 3s infinite alternate;
}


@media (max-width:481px) { /* el MAX de 481 para abajo 477,478,479,480,481 etc 
                             0 ------------ max 481*/

    
    .search section.productos article{
        height: 409px;
            margin: auto;
            width: 80%;
    }
    .search .contenido-search{
        margin: 20px 60px;
    }
    
    
}



@media (max-width:769px) {
    .search section.productos article{
        height: 409px;
            margin: auto;
            width: 71%;
            margin: 21px 13%;
    }
    .search .contenido-search{
        margin: 20px 20%;
    }
}