@import url('./general.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./carrito.css');
@import url('./home.css');
@import url('./detalle-producto.css');
@import url('./footerdetalle.css');
@import url('./headerdetalle.css');
@import url('./carga.css');
@import url('./login.css');