<footer class="final">
    <div class="secciones-footer">
        <section class="seccion-newsletter">
            <div>
                <p>Gracias por visitarnos</p>
                <span>Las mejores ofertas todos los dias</span>
            </div>
            <div class="email-buscador">
                <!-- <form action="">
                    <input class="buscar-email" type="text" placeholder="email">
                        <button class="boton2">
                            <i class="fas fa-arrow-right"></i></i>
                        </button>
                </form> -->
            </div>
        </section>
        <section class="seccion-datos">
            <div class="mas-buscados">
                <p class="title">Nosotros</p>
                <p>Somos JSONTeam equipo desarrolladores web <br> te ofrece una linea extensa de productos con <br>
                    calidad premium y diseños exclusivos, <br>
                     100% garantizados. <br>
                     compuesto por : <br>
                    agustin olmedo,rocio escarloti y romero santos  </p>
                
            </div>
            <div class="ayuda">
                <p class="title">Ayuda</p>
                <a href="/medios-de-pago"><p>Métodos de pago</p></a>
                <a href="/metodos-de-envio"><p>Métodos de envío</p></a>
                <a href="/costos-de-envios"><p>Costos de envío</p></a>
                <a href="/terminos-y-condiciones"><p>Términos y condiciones</p></a>
            </div>
            <div class="contactanos">
                <p class="title">Contáctanos</p>
                <a href="https://wa.me/5491155728421"><p><i class="fas fa-phone-alt"></i> 11 5572-8421</p></a>
                <a href="mailto:electodoventas@gmail.com"><p><i class="far fa-envelope"></i>electodoventas@gmail.com</p></a>
                <a href="https://goo.gl/maps/Q5DRRsdxegd3aXFJ8"><p><i class="fas fa-map-marker-alt"></i> Rava 1968, Villa Madero</p></a>
            </div>
            <div class="sigamos-conectados">
                <p class="title">Sigamos conectados</p>
                <div>
                    <!-- <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-f"></i> -->
                    <a href="https://wa.me/5491155728421"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </section>
        <section class="copyr">
            <p>Copyright © 2021 - ElecTodo</p>
        </section>
    </div>
</footer>