<footer class="final">
    <div class="secciones-footer">
        <section class="seccion-newsletter">
            <div>
                <p>Newsletter</p>
                <span>Suscribite para recibir nuestras ofertas y novedades</span>
            </div>
            <div class="email-buscador">
                <form action="">
                    <input class="buscar-email" type="text" placeholder="email">
                        <button class="boton2">
                            <i class="fas fa-arrow-right"></i></i>
                        </button>
                </form>
            </div>
        </section>
        <section class="seccion-datos">
            <div class="mas-buscados">
                <p class="title">Más buscados</p>
                <p>Promociones</p>
                <p>Envíos gratis</p>
            </div>
            <div class="ayuda">
                <p class="title">Ayuda</p>
                <p>Preguntas frecuentes</p>
                <a href="/medios-de-pago"><p>Métodos de pago</p></a>
                <p>Métodos de envío</p>
                <p>Costos de envío</p>
                <a href="/terminos-y-condiciones"><p>Términos y condiciones</p></a>
            </div>
            <div class="contactanos">
                <p class="title">Contáctanos</p>
                <a href="https://wa.me/5491155728421"><p><i class="fas fa-phone-alt"></i> 11 5572-8421</p></a>
                <a href="mailto:electodoventas@gmail.com"><p><i class="far fa-envelope"></i>electodoventas@gmail.com</p></a>
                <a href="https://goo.gl/maps/Q5DRRsdxegd3aXFJ8"><p><i class="fas fa-map-marker-alt"></i> Rava 1968, Villa Madero</p></a>
            </div>
            <div class="sigamos-conectados">
                <p class="title">Sigamos conectados</p>
                <div>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-f"></i>
                    <a href="https://wa.me/5491155728421"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </section>
        <section class="copyr">
            <p>Copyright © 2021 - ElecTodo</p>
        </section>
    </div>
</footer>