<footer class="final">
    <div class="secciones-footer">
        <section class="seccion-newsletter">
            <div>
                <p>Newsletter</p>
                <span>Suscribite para recibir nuestras ofertas y novedades</span>
            </div>
            <div class="email-buscador">
                <form action="">
                    <input class="buscar-email" type="text" placeholder="email">
                        <button class="boton2">
                            <i class="fas fa-arrow-right"></i></i>
                        </button>
                </form>
            </div>
        </section>
        <section class="seccion-datos">
            <div class="mas-buscados">
                <p class="title">Más buscados</p>
                <p>Promociones</p>
                <p>Envíos gratis</p>
            </div>
            <div class="ayuda">
                <p class="title">Ayuda</p>
                <p>Preguntas frecuentes</p>
                <p>Métodos de pago</p>
                <p>Métodos de envío</p>
                <p>Costos de envío</p>
                <p>Términos y condiciones</p>
            </div>
            <div class="contactanos">
                <p class="title">Contáctanos</p>
                <p><i class="fas fa-phone-alt"></i> 11 2345-3212</p>
                <p><i class="far fa-envelope"></i> xxxx@xxxx.com</p>
                <p><i class="fas fa-map-marker-alt"></i> Dirección</p>
            </div>
            <div class="sigamos-conectados">
                <p class="title">Sigamos conectados</p>
                <div>
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-f"></i>
                    <i class="fab fa-whatsapp"></i>
                </div>
            </div>
        </section>
        <section class="copyr">
            <p>Copyright © 2021 - ElecTodo</p>
        </section>
    </div>
</footer>