<header>
    <div class="cabeza">
        <div class="logo">
            <a href="/"><img src="/img/electodo log.png" alt="electodo"></a>
        </div>

 
        <div class="buscador">
            <form action="/product/search" method="GET">
                <input class="buscar-texto" type="text" name="search" placeholder="¿Qué producto estás buscando?">
                <button class="boton"> <i class="fas fa-search"></i> </button>
            </form>
        </div>
        <% if (locals.userLogin) { %>
            
            <% if (locals.userLogin.rol==="admin") { %>
                <h2 class="btn btn-success" > Modo administrador: <%= locals.userLogin.nombre %> </h2>
                <li><a href="/product/carga"><i class="fas fa-upload"></i></a></li>
            <% } %>
            <nav class="nav-header-menu">
                <ul>
            <li><h2 class="btn btn-info" > USUARIO: <%= locals.userLogin.nombre %> </h2></li>
            <li><a href="/cart"><i class="fas fa-shopping-cart"></i></a></li>
            <li><a href=""><i class="fas fa-bell"></i></a></li>
            <li><a href=""><i class="fas fa-heart"></i></a></li>
            <li><a href="/users/login"><i class="fas fa-user-circle"></i></a></li>

            <li><a href="/users/logout" class="btn btn-danger">cerrar sesión</a></li>
     
        </ul>
    </nav>
        <% }else{ %>
            <nav class="nav-header-menu">
                        <ul>
                            <li><a href="/users/login"><i class="fas fa-user-circle"></i></a></li>
                        </ul>
            </nav>
        <% } %>
        
        <nav class="nav-header-menu2">
            <div class="buscador2">
                <input type="text" class="buscar-texto2">
                <a href="" class="boton-busc">
                    <i class="fas fa-search"></i>
                </a>
            </div>
            <ul>
                <li>
                    <a href="/users/login">
                        <i class="fas fa-user-circle"></i>
                    </a>
                </li>
                <li>
                    <a href="/cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <nav class="nav-header-items">
        <ul>
            <li><a href=""><i class="fas fa-laptop"></i> Laptops</a></li>
            <li><a href=""><i class="fas fa-desktop"></i> PC</a></li>
            <li><a href=""><i class="fas fa-mouse"></i> Mouse</a></li>
            <li><a href=""><i class="fas fa-keyboard"></i> Teclados</a></li>
            <li><a href=""><i class="fas fa-headphones-alt"></i> Auriculares</a></li>
            <li><a href=""><i class="fas fa-volume-up"></i> Audio</a></li>
            <li><a href=""><i class="fas fa-mobile-alt"></i> Celulares</a></li>
            <li><a href=""><i class="fas fa-gamepad"></i> Gaming</a></li>
            <li><a href=""><i class="fab fa-xbox"></i> Consolas</a></li>
            <li><a href=""><i class="fas fa-print"></i> Impresoras</a></li>
        </ul>
    </nav>
    <nav class="nav-header-items2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle bg-primary" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-bars"></i>
            </button>
            <ul class="dropdown-menu dropdown p-2 mb-2 bg-primary" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#"><i class="fas fa-laptop"></i></a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-desktop"></i></a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-mouse"></i></a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-keyboard"></i></a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-headphones-alt"></i></a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-volume-up"></i></a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-mobile-alt"></i></a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-gamepad"></i></a></li>
              <li><a class="dropdown-item" href="#"><i class="fab fa-xbox"></i></a></li>
              <li><a class="dropdown-item" href="#"><i class="fas fa-print"></i></a></li>
            </ul>
          </div>
        <ul>
            <li><a href=""><i class="fas fa-bell"></i></a></li>
            <li><a href=""><i class="fas fa-heart"></i></a></li>
        </ul>
    </nav>
    <div class="usuarios-desplegable">
        <nav>
            <ul>
                <li><a href="/users/profile">
                    <button>Ir al Perfil</button>
                </a></li>
                <li><a href="#">
                    <button>Configuracion</button>
                </a></li>
                <li><a href="/users/logOut">
                    <button>Cerrar Sesión</button>
                </a></li>
            </ul>
        </nav>
    </div>
</header>