<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>

            <main class="cuerpo terminos">
                <h5>Costos de envío</h5>

                <p>El costo de envío de tu producto depende de dos factores: el peso y la distancia de despacho. Este valor va a variar dependiendo de donde se efectúe el despacho.</p>
                <p>
                    Al seleccionar el lugar donde querés que enviemos tu producto, el sistema calculará automáticamente el costo de despacho según el tamaño de producto.
                </p>
                <p>Si tenés alguna duda, recordá llamarnos a nuestra línea de <strong>Servicio al Cliente al 11 5572-8421</strong></p>
            </main>
            <%- include('./partials/footer') %>
                <%- include('./partials/scripts') %>
    </body>

</html>