<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
    <main  class="cuerpo terminos">
        <h5>¿Cuáles son los métodos de envío disponibles?</h5>

        <h6>Descarga</h6>
        <p>Readiris y Cardiris se pueden obtener mediante descarga. Los datos de descarga se proporcionan en la pantalla y en el correo electrónico de confirmación del pedido.
            Si se selecciona esta opción, no se envía ningún CD, pero el software se puede volver a descargar más adelante.</p>
        <h6>Producto físico</h6>
        <p>A continuación se indican los métodos de envío disponibles para su país. Para conocer el precio exacto, consulte la página del carro de la compra durante el proceso de pedido.</p>
        
        <p> <strong>EE. UU. y Canadá:</strong> Los productos se envían desde nuestro centro de distribución de Estados Unidos.</p>
        <p> <strong>Los pedidos se envían al día siguiente laborable</strong> (sin contar fines de semana ni festivos). Una vez efectuado el envío recibirá el número de seguimiento. Debido a las comprobaciones de contabilidad a finales de mes, es posible que se produzca un retraso de algunos días entre la tramitación del pedido y el momento del envío en estos periodos.</p>
        <p>Es posible que los envíos a Canadá estén sujetos a aranceles aduaneros. (El pago de estos aranceles es responsabilidad del cliente, consulte Impuestos y tasas.)</p>
        
        <table>
            <tr>
                <th>Método de envío</th>
                <th>Plazo de entrega</th>
            </tr>
            <tr>
                <td>Fedex SmartPost</td>
                <td>4-10 días</td>
            </tr>
            <tr>
                <td>FedEx 2 days</td>
                <td>2-4 días</td>
            </tr>
            <tr>
                <td>FedEx next day</td>
                <td>1-3 días</td>
            </tr>
        </table>

        <p><strong>Europa:</strong> Los productos se envían desde nuestro centro de distribución de Bélgica.</p>
        <p>Recibirá un <strong>correo electrónico</strong> con un <strong>número de referencia</strong> y la <strong>factura</strong> de I.R.I.S. en un plazo de 48 horas tras realizar el pedido (sin contar fines de semana ni festivos). Los pedidos realizados después de las 8 a. m. se envían al día siguiente.</p>
        <table>
            <tr>
                <th>Método de envío</th>
                <th>Plazo de entrega</th>
            </tr>
            <tr>
                <td>Envío por DHL</td>
                <td>2-4 días</td>
            </tr>
        </table>

        <p> <strong>Otros países:</strong> Los productos se envían desde nuestro centro de distribución de Bélgica.</p>
        <p>Recibirá un <strong>correo electrónico</strong> con un <strong>número de referencia</strong> (SOLO DHL) y la <strong>factura</strong> de I.R.I.S. en un plazo de 48 horas tras realizar el pedido (sin contar fines de semana ni festivos). Los pedidos realizados después de las 8 a. m. GMT +1 se envían al día siguiente.
        </p>
        <p>No es posible efectuar el seguimiento de los envíos realizados por <strong>correo postal</strong>.</p>
        <p>Atención: Los envíos están sujetos a aranceles aduaneros. (El pago de estos aranceles es responsabilidad del cliente, consulte Impuestos y tasas).
        </p>
        <table>
            <tr>
                <th>Método de envío</th>
                <th>Plazo de entrega</th>
            </tr>
            <tr>
                <td>Envío por DHL</td>
                <td>3-6 días</td>
            </tr>
            <tr>
                <td>Envío por correo postal</td>
                <td>7-21 días (no es posible realizar su seguimiento)</td>
            </tr>
        </table>
    </main>
        <%- include('./partials/footer') %>
        <%- include('./partials/scripts') %>
</body>
</html>