<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main class="cuerpo terminos">
                <p>
                    Podes pagar con cualquiera de estos medios y tu compra va a estar 100% protegida. Si el producto no
                    es lo que esperabas, te devolveremos el dinero .

                    Las reservas de vehículos y las contrataciones de servicios también se pagan con estos medios. Así,
                    protegemos tu dinero hasta que nos confirmes que ya te entregaron el vehículo o te brindaron el
                    servicio.

                    Elegí entre cualquiera de estos medios de pago:
                </p>
                <p>


                    <h5>Tarjetas de crédito</h5>
                    Visa, Mastercard, American Express, Naranja, Argencard, Cabal, Cencosud, Nativa, Tarjeta Shopping, Cordobesa, CMR, Cordial.

                    Hasta 12 cuotas sin interés con promociones bancarias
                    Costo de financiación para pagos con tarjetas de crédito

                    Se acredita instantáneamente.
                </p>
                <p>

                    <h5>Tarjetas de débito</h5>
                    Visa, Maestro, Cabal

                    1 pago.

                    Se acredita instantáneamente.
                </p>
                <p>

                    <h5>Efectivo</h5>
                    Pago fácil, Rapipago.

                    En efectivo con Rapipago y Pago Fácil: te damos un número para pagar.

                    1 pago.

                    Rapipago se acredita al instante y Pago Fácil en 2 horas después de pagar
                </p>
            </main>
            <%- include('./partials/footer') %>
                <%- include('./partials/scripts') %>
    </body>

</html>