<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main class="cuerpo terminos">
                <p>
                    Podes pagar con cualquiera de estos medios y tu compra va a estar 100% protegida. Si el producto no
                    es lo que esperabas, te devolveremos el dinero .

                    Las reservas de vehículos y las contrataciones de servicios también se pagan con estos medios. Así,
                    protegemos tu dinero hasta que nos confirmes que ya te entregaron el vehículo o te brindaron el
                    servicio.

                    Elegí entre cualquiera de estos medios de pago:
                </p>



                <i class="far fa-credit-card"></i>
                <h5>Tarjetas de crédito</h5>
                <p>Visa, Mastercard, American Express, Naranja, Argencard, Cabal, Cencosud, Nativa, Tarjeta Shopping,
                    Cordobesa, CMR, Cordial.</p>
                <p>Hasta 12 cuotas sin interés con promociones bancarias
                    Costo de financiación para pagos con tarjetas de crédito</p>



                <p>
                    Se acredita instantáneamente.
                </p>


                <i class="fas fa-credit-card"></i>
                <h5>Tarjetas de débito</h5>
                <p>
                    Visa, Maestro, Cabal.
                </p>
                <p>1 pago.</p>
                <p>
                    Se acredita instantáneamente.
                </p>

                <i style="color: black; background: none; text-align: left;" class="fas fa-money-bill"></i>
                <h5>Efectivo</h5>
                <p>Pago fácil, Rapipago.</p>
                <p>En efectivo con Rapipago y Pago Fácil: te damos un número para pagar.</p>
                <p>1 pago.</p>
                <p>
                    Rapipago se acredita al instante y Pago Fácil en 2 horas después de pagar
                </p>
            </main>
            <%- include('./partials/footer') %>
                <%- include('./partials/scripts') %>
    </body>

</html>