<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main class="cuerpo terminos">
                <p>Versión vigente 08/12/2021</p>
                <p>
                    Este contrato describe los términos y condiciones generales (los "Términos y Condiciones Generales")
                    aplicables al uso de los servicios ofrecidos por elecTodo S.R.L., CUIT 23-40556732-4, ("los
                    Servicios") dentro de los sitios www.elecTodo.com.ar ("elecTodo" o el "sitio"). Cualquier persona
                    (en adelante "Usuario" o en plural "Usuarios") que desee acceder y/o usar el sitio o los Servicios
                    podrá hacerlo sujetándose a los Términos y Condiciones Generales respectivos, junto con todas las
                    demás políticas y principios que rigen elecTodo y que son incorporados al presente por referencia.

                    CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN
                    CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.

                    El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y
                    Condiciones Generales y en las Políticas de Privacidad así como en los demás documentos incorporados
                    a los mismos por referencia, previo a su registración como Usuario de elecTodo, optando de forma
                    expresa por recibir los mismos y toda otra información por medios digitales.
                </p>
                <p>
                    <h5>01 - Capacidad</h5>
                    Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No
                    podrán utilizar los servicios las personas que no tengan esa capacidad o Usuarios de elecTodo que
                    hayan sido suspendidos temporalmente o inhabilitados definitivamente.

                    Los menores de edad, a partir de los 13 años, sólo podrán utilizar su cuenta con autorización del
                    representante legal, quien responderá por todas las acciones y obligaciones que se deriven de la
                    utilización de esa cuenta y quien. También deberá velar por el uso responsable y adecuado de ella en
                    atención a la madurez del menor de edad que autorice.

                </p>
                <p>
                    <h5>02 - Registración</h5>
                    Es obligatorio completar el formulario de registración en todos sus campos con datos válidos para
                    poder utilizar los servicios que brinda elecTodo. El futuro Usuario deberá completarlo con su
                    información personal de manera exacta, precisa y verdadera ("Datos Personales") y asume el
                    compromiso de actualizar los Datos Personales conforme resulte necesario. El Usuario presta expresa
                    conformidad con que elecTodo utilice diversos medios para identificar sus datos personales,
                    asumiendo el Usuario la obligación de revisarlos y mantenerlos actualizados. elecTodo NO se
                    responsabiliza por la certeza de los Datos Personales de los Usuarios. Los Usuarios garantizan y
                    responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de sus Datos
                    Personales.

                    A su exclusiva discreción, elecTodo podrá requerir una registración adicional a los Usuarios, como
                    requisito para que dichos Usuarios accedan a paquetes especiales de publicaciones. ElecTodo se
                    reserva el derecho de solicitar algún comprobante y/o dato adicional a efectos de corroborar los
                    Datos Personales, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos
                    no hayan podido ser confirmados. En estos casos de inhabilitación, se dará de baja todos los
                    artículos publicados, así como las ofertas realizadas, sin que ello genere algún derecho a
                    resarcimiento.

                    El Usuario accederá a su cuenta personal ("Cuenta") mediante el ingreso de su correo electrónico y
                    clave de seguridad personal elegida. El Usuario se obliga a mantener la confidencialidad de su Clave
                    de Seguridad.

                    La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario registre o
                    posea más de una Cuenta. En caso que elecTodo detecte distintas Cuentas que contengan datos
                    coincidentes o relacionados, podrá cancelar, suspender o inhabilitarlas.

                    El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la
                    misma está restringido al ingreso y uso de su Clave de Seguridad, de conocimiento exclusivo del
                    Usuario. El Usuario se compromete a notificar a elecTodo en forma inmediata y por medio idóneo y
                    fehaciente, cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no
                    autorizados a la misma. Se aclara que está prohibida la venta, cesión o transferencia de la Cuenta
                    (incluyendo la reputación) bajo ningún título.

                    ElecTodo se reserva el derecho de rechazar cualquier solicitud de registración o de cancelar una
                    registración previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su
                    decisión y sin que ello genere algún derecho a indemnización o resarcimiento.
                </p>
                <p>
                    <h5>03 - Modificaciones del Acuerdo</h5>
                    ElecTodo podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos
                    en el Sitio los términos modificados. Todos los términos modificados entrarán en vigor a los 10
                    (diez) días de su publicación. Dichas modificaciones serán comunicadas por elecTodo a los usuarios
                    que en la newsletter de elecTodo hayan indicado que desean recibir notificaciones de los cambios en
                    estos Términos y Condiciones. Todo usuario que no esté de acuerdo con las modificaciones efectuadas
                    por elecTodo podrá solicitar la baja de la cuenta.

                    El uso del sitio y/o sus servicios implica la aceptación de estos Términos y Condiciones generales
                    de uso de elecTodo.


                </p>
                <p>
                    <h5>04 - Privacidad de la Información</h5>
                    Para utilizar los Servicios ofrecidos por elecTodo, los Usuarios deberán facilitar determinados
                    datos de carácter personal. Su información personal se procesa y almacena en servidores o medios
                    magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica.
                    Para mayor información sobre la privacidad de los Datos Personales y casos en los que será revelada
                    la información personal, se pueden consultar nuestras Políticas de Privacidad.
                </p>
                <p>
                    <h5>05 - Prohibiciones</h5>
                    Los usuarios no podrán: (a) manipular los precios de los artículos; (b) mantener cualquier tipo de
                    comunicación por otro medio distinto al servicio de mensajería que ofrece elecTodo (incluyendo
                    mails, redes sociales, WhatsApp, etc) ya sea durante la oferta del bien o con posterioridad a ella,
                    salvo en la sección de Preguntas y Respuestas; (c) dar a conocer sus datos personales o de otros
                    usuarios a través de la sección de Preguntas y Respuestas y/o por algún otro medio (incluyendo pero
                    sin limitar Twitter, Facebook y/ o cualquier otra red social); (d) aceptar datos personales
                    proporcionados por otros usuarios a través de la sección de Preguntas y Respuestas y/o algún otro
                    medio (incluyendo pero sin limitar Twitter, Facebook y/o cualquier otra red social); (e) publicar o
                    vender artículos; (f) insultar, discriminar o agredir a otros Usuarios, colaboradores de elecTodo o
                    cualquier persona que esté relacionada a los servicios que elecTodo presta en su plataforma; (g)
                    utilizar su reputación, calificaciones o comentarios recibidos en el sitio de elecTodo en cualquier
                    ámbito fuera de elecTodo.
                    Este tipo de actividades será investigado por elecTodo y el infractor podrá ser sancionado con la
                    suspensión o cancelación de la oferta e incluso de su inscripción como usuario de elecTodo y/o de
                    cualquier otra forma que estime pertinente, sin perjuicio de las acciones legales a que pueda dar
                    lugar por la configuración de delitos o contravenciones o los perjuicios civiles que pueda causar a
                    los usuarios oferentes.
                </p>
                <p>
                    <h5>06 - Violaciones del Sistema o Bases de Datos</h5>
                    No está permitida ninguna acción o uso de dispositivo, software, u otro medio tendiente a interferir
                    tanto en las actividades y operatoria de elecTodo como en las ofertas, descripciones, cuentas o
                    bases de datos de elecTodo. Cualquier intromisión, tentativa o actividad violatoria o contraria a
                    las leyes sobre derecho de propiedad intelectual y/o a las prohibiciones estipuladas en este
                    contrato harán pasible a su responsable de las acciones legales pertinentes, y a las sanciones
                    previstas por este acuerdo, así como lo hará responsable de indemnizar los daños ocasionados.</p>
                <p>
                    <h5>07 - Sanciones. Suspensión de operaciones</h5>
                    Sin perjuicio de otras medidas, elecTodo podrá advertir, suspender en forma temporal o
                    definitivamente la Cuenta de un Usuario, aplicar una sanción , iniciar las acciones que estime
                    pertinentes y/o suspender la prestación de sus Servicios si (a) se quebrantara alguna ley, o
                    cualquiera de las estipulaciones de los Términos y Condiciones Generales y demás políticas de
                    elecTodo; (b) si incumpliera sus compromisos como Usuario; (c) si se incurriera a criterio de
                    elecTodo en conductas o actos dolosos o fraudulentos; (d) no pudiera verificarse la identidad del
                    Usuario o cualquier información proporcionada por el mismo fuere errónea.</p>
                <p>
                    <h5>09 - Fallas en el sistema</h5>
                    ElecTodo no se responsabiliza por cualquier daño, perjuicio o pérdida al usuario causados por fallas
                    en el sistema, en el servidor o en Internet. ElecTodotampoco será responsable por cualquier virus
                    que pudiera infectar el equipo del usuario como consecuencia del acceso, uso o examen de su sitio
                    web o a raíz de cualquier transferencia de datos. Los usuarios NO podrán imputarle responsabilidad
                    alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades
                    técnicas o fallas en los sistemas o en Internet. ElecTodo no garantiza el acceso y uso continuado o
                    ininterrumpido de su sitio. El sistema puede eventualmente no estar disponible debido a dificultades
                    técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a elecTodo; en tales casos
                    se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún
                    tipo de responsabilidad. ElecTodo no será responsable por ningún error u omisión contenidos en su
                    sitio web.</p>
                <p>
                    <h5>10 - Sistema de reputación</h5>
                    Debido a que la verificación de la identidad de los Usuarios en Internet es difícil, elecTodo no
                    puede confirmar ni confirma la identidad pretendida de cada Usuario. Por ello el Usuario Vendedor
                    cuenta con un sistema de reputación de Usuarios que es actualizado periódicamente en base a datos
                    vinculados con su actividad en el sitio. Este sistema de reputación, además constará de un espacio
                    donde los Usuarios podrán hacer comentarios sobre la experiencia de compra. Dichos comentarios serán
                    incluidos bajo exclusiva responsabilidad de los Usuarios que los emitan.</p>
                <p>
                    <h5>11 - Propiedad intelectual - Licencia - Enlaces</h5>
                    ElecTodo y/o sus sociedades controlantes, controladas, filiales o subsidiarias se reservan todos los
                    derechos, incluyendo los derechos de propiedad intelectual e industrial, asociados con los servicios
                    de elecTodo, sus sitios web, los contenidos de sus pantallas, programas, bases de datos, redes,
                    códigos, desarrollo, software, arquitectura, hardware, contenidos, información, tecnología, fases de
                    integración, funcionalidades, dominios, archivos que permiten al Usuario acceder y crear su Cuenta,
                    herramientas de venta, marcas, patentes, derechos de autor, diseños y modelos industriales, nombres
                    comerciales, entre otros, y declara que están protegidos por leyes nacionales e internacionales
                    vigentes.

                    En ningún caso se entenderá que el Usuario tendrá algún tipo de derecho sobre los mismos excepto
                    para utilizar el servicio de elecTodo conforme a lo previsto en estos Términos y Condiciones
                    Generales. El uso indebido o contrario a la normativa vigente de los derechos de propiedad
                    intelectual e industrial de elecTodo, así como su reproducción total o parcial, queda prohibido,
                    salvo autorización expresa y por escrito de elecTodo.

                    Los Usuarios tampoco podrán comunicar que los productos o servicios que ofrecen son patrocinados,
                    promovidos, producidos, ofrecidos y/o vendidos por elecTodo y deberán abstenerse de realizar
                    cualquier acto que pudiera causar un daño, pérdida de reputación, o disminución del valor de los
                    derechos de propiedad intelectual e industrial de elecTodo.

                    El sitio puede contener enlaces a sitios web de terceros. En virtud que elecTodo no tiene control
                    sobre tales sitios, no será responsable por los contenidos, materiales, acciones y/o servicios
                    prestados por los mismos, ni por daños o pérdidas ocasionadas por la utilización de éstos, causados
                    directa o indirectamente. La presencia de enlaces a otros sitios web no implica una sociedad,
                    relación, aprobación, respaldo de elecTodo con dichos sitios y sus contenidos.</p>
                <p>
                    <h5>12 - Jurisdicción y Ley Aplicable</h5>
                    Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República Argentina.

                    Cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación,
                    alcance o cumplimiento, será sometida ante la Justicia Nacional Ordinaria salvo disposición
                    específica de normas de Orden Público, como por ejemplo la Ley de Defensa del Consumidor (o
                    normativa vinculada) en los casos en los que ésta sea aplicable.</p>
                <p>
                    <h5>13 - Domicilio</h5>
                    Se fija como domicilio de elecTodo la calle Rava 1968, Villa Madero, código postal 1772, República
                    Argentina.
                </p>
            </main>


            <%- include('./partials/footer') %>
                <%- include('./partials/scripts') %>
    </body>

</html>